AI_Human.csv
Final_Stats.csv
plot4.png
plot3.png
plot2.png
plot1.png
Results.csv
statistical_significance_results.csv
Stats.csv
zipf_features.csv
.ipynb_checkpoints/statistical_significance_results-checkpoint.csv
.ipynb_checkpoints/FeatureEngineering-checkpoint.ipynb
.ipynb_checkpoints/StatisticalApproach-checkpoint.ipynb
.ipynb_checkpoints/FeatureEngineering+Selection-checkpoint.ipynb
.idea/inspectionProfiles/profiles_settings.xml
.idea/ZipfsLaw.iml
.idea/modules.xml
.idea/misc.xml
.idea/.name
/final_test.csv
/final_train.csv
/Model.py
/StatsNew.csv
